.btn {
	border-radius:0;
	border-width:3px;
	font-size:20px;
	height:50px;
	line-height:44px;
	margin:0;
	outline:0 none;
	padding:0 20px;
	text-align:left;
	text-transform:uppercase;
	vertical-align:top;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline:0 none;
}

.btn-primary {
	background-color:transparent;
	border-color:#fff;
	color:#fff;

	i {
		background-color:#fff;
		color:$color-purple;
		float:right;
		height:34px;
		line-height:34px;
		margin:5px 5px 0 0;
		text-align:center;
		@include transition(background-color 200ms, color 200ms);
		width:34px;
	}
}

.btn-primary:hover {
	background-color:transparent;
	border-color:#fff;
	color:#fff;

	i {
		background-color:$color-turquoise;
		color:#fff;
	}
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
	background-color:transparent !important;
	border-color:#fff !important;
	color:#fff !important;
}

.btn-primary:active,
.btn-primary.active {
	background-color:transparent;
	box-shadow: none;
}

.btn-primary.success {
	background-color:transparent !important;
	border-color:#9e4ee1 !important;
	opacity:1;

	i {
		background-color:$color-turquoise;
		color:#fff;
	}
}