main {
	.about {
		background:url('../images/bg-about.jpg') no-repeat right 0;
		padding-bottom:80px;
		padding-top:82px;

		@media (min-width: $screen-md-min) {
			padding-bottom:100px;
			padding-top:102px;
		}
	}

	.contact {
		background-color:$color-purple;
		padding-bottom:80px;
		padding-top:82px;

		@media (min-width: $screen-md-min) {
			padding-bottom:100px;
			padding-top:102px;
		}

		p {
			font-weight:400;
		}

		form {
			margin-top:2.6875em; /* 43/16 */

			@media (min-width: $screen-md-min) {
				margin-top:3.9375em; /* 63/16 */
			}
		}
	}
}