/* Typography */
$font-1:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2:Georgia, serif;
$font-3:monospace, serif;

/* Colors */
$color-link:#4183c4;
$color-link-hover:#333;

$color-text:#333;
$color-light-text:#777;

$color-hr:#eee;

$color-1:#4183c4;
$color-2:#efefef;

$color-validation-error:red;
$color-validation-success:green;