.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align:center;
}

.align-left {
	float:left;
}

.align-right {
	float:right;
}

/****
Clearfix -- h5bp.com/q
****/
.clearfix:before,
.clearfix:after {
    content:" ";
    display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom:1;
}